{% extends 'base.html' %}

{% block content %}

<style>
  
    h4 {
        color: rgb(218, 224, 221);
    }
    .container
    h5 {
        text-align: left;
        padding: 20px;
        transition: all 0.3s ease;
        color: rgb(177, 177, 177);
        font-size: 15px;
    }

</style>

<div class="container">
    <div class="row">
        <div class="col-xl-12 col-md-30 col-lg-3 mt-3">
            <div class=" card-inverse card-info">
                <div class="card-block">
                    <h4 class="card-title">About Us</h4>
                    <h5 class="card-text">
                        Proteus Bicycles has been a College Park institution for over 40 years. 
                        In the 1970s and 1980s, the shop built custom bikes and bicycle frames, 
                        including special orders for racers. In the 2000s, under the ownership of Jill DiMauro, 
                        Proteus became more of a community focused bike shop. Laurie Lemieux and 
                        Ben Bassett purchased the shop in 2012 and have further expanded community 
                        involvement and local advocacy efforts. In December 2018, Proteus Bicycles 
                        moved from the original location on Route 1 to a larger location on Rhode 
                        Island Avenue in the Hollywood Shopping Center.
                        We stock a large inventory of new bikes, mostly from Specialized, Jamis, Kona, 
                        and Dahon. Our customers range from kids to great-grandparents, beginners to experts, 
                        and recreational cyclists to racers. We keep our bicycle commuting customers going 
                        all year round with service and equipment for all weather. 
                        Our mission is to help you get on a bike and ride to your heart’s content. 
                        We want to make sure you get on the best bike for you, be sure it fits you perfectly, 
                        and see you out riding in our community. All riders are welcome!
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}