{% extends "base.html" %}

{% block content %}
<style>
    .card-layout {
        width: 60%;
        margin: 0 auto;
        margin-top: 60px;
        padding: 50px;
        background: #ffffff;
    }
    
    h1 {text-align: left;}
    p {text-align: justify;}
    
    .container {
        height:25vh;
        width: 40vw;
        margin-left: 70px;
    }

</style>

<div class="card card-layout " style="width: 60rem;">
    <img class="card container" src="{{bike.image.url}}" style=></img>
    
    <h1 class="text-danger card-block card-title">
        {{bike.bike_name}}
    </h1>
    <div class="card-body">
        <p class="text-primary" class="card-text">
            {{bike.description}}
        </p>
        <div class="card-footer">
        {% if bike.instock == True  %}
        <a href="add">
            <button type="button" class="btn btn-info btn-sm" style="width: 470px;">
                ADD TO CART
            </button>
        </a>
            {% else %}
            <h3 style="color: red; text-align: center;"> out of stock </h3>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}