{% extends 'base.html' %}

{% block content %}

<title>Orders</title>



<style>
    .back-class {
        background-color: aliceblue;
        margin: 0 auto;
        margin-top: 50px;
        padding: 20px;
    }

    h3 {
        color: seagreen;
    }

    h1 {
        /* font-weight: ; */
        margin-left: 70px;
        color: rgb(191, 191, 192);
    }
</style>

<h1>Your Orders </h1>

{% for order,bike in con %}


<div class="card card-layout back-class" style="width: 50rem;">
    <img class="card-img-top" src="{{ bike.image.url }}" style="width:100%"></img>
    <h3>Price = {{ bike.price}}</h3>
    <h3>Date = {{ order.date }}</h3>

</div>



{% endfor %}


{% endblock %}

